<cyia-markdown [extraTool]="extra">

</cyia-markdown>
<ng-template #extra let-customFormat="customFormat">
    <cyia-extra-tool [method]="customFormat"></cyia-extra-tool>
</ng-template>

<!-- <mat-form-field>
  <input matInput type="text" [cyiaCustompickerInput]="custom" [ngModel]="1" [options]="options"
    (ngModelChange)="customChange($event)" placeholder="占位符">
  <cyia-custompicker-toggle [for]="custom" matSuffix></cyia-custompicker-toggle>
  <cyia-custompicker-wrapper #custom [component]="dialog" [path]="path">

  </cyia-custompicker-wrapper>
</mat-form-field> -->
<!-- <cyia-form-group [cyiaFormGroup]="group"></cyia-form-group> -->
